body {
    background-color:#D8D3C9;
}
main {
    display: grid;
    grid-template-columns: 1.5fr 1.05fr 0.9fr;
    grid-template-areas: "intro specializace projekt""intro popis kontakt";

}
.intro {
    grid-area: intro;
}
.specializace {
    grid-area: specializace;
}
.projekt {
    grid-area: projekt;
}
.popis {
    grid-area: popis;
}
.kontakt {
    grid-area: kontakt;
}